#CQ .x-html-editor-tb .x-edit-blockquote{
	background-image: url(/images/icons/blockquote.png);
	background-position: 1px 2px;
}
#CQ .x-html-editor-tb .x-edit-linedblockquote{
    background-image: url(/images/icons/lined-blockquote.png);
    background-position: 1px 2px;
}